<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.phoebus.payments.demo">

    <uses-permission android:name="br.com.phoebus.android.payments.provider.READ_PERMISSION" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PaymentActivity" />
        <activity android:name=".ConfirmPaymentActivity" />
        <activity android:name=".CancelPaymentActivity" />
        <activity android:name=".ReversePaymentActivity" />
        <activity android:name=".CancelReversePaymentActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".PaymentListActivity" />

        <receiver
            android:name=".PaymentBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="br.com.phoebus.android.payments.AFTER_PAYMENT_FINISHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="br.com.phoebus.android.payments.AFTER_PAYMENT_REVERSAL_FINISHED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>