<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.phoebus.payments.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartInitializationActivity"></activity>
        <activity android:name=".OpenBatchActivity"></activity>
        <activity android:name=".RefundActivity" />
        <activity android:name=".CloseBatchActivity" />
        <activity
            android:name=".PrintReceiptActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".ReprintActivity"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".ReprintReceiptV2Activity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".TerminalInfoActivity"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".SettlementResultActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PaymentActivity" />
        <activity android:name=".ReversePaymentActivity" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".PaymentListActivity" />
        <activity android:name=".TransactionListActivity" />
        <activity android:name=".LastApprovedTransactionActivity" />
        <activity android:name=".SetThemeActivity" />
        <activity android:name=".LogoActivity" />
        <activity android:name=".SetMainAppActivity" />
        <activity android:name=".CommonPaymentListActivity" />
        <activity android:name=".PaymentTypeListActivity" />
        <activity android:name=".ReverseWithFilterActivity" />
        <activity android:name=".SolvePendQRCodeActivity" />
        <activity android:name=".ErrorBroadcastActivity" />
        <activity android:name=".EnableBroadcastActivity" />
        <activity android:name=".SupervisorPasswordValidateActivity" />

        <receiver
            android:name=".PaymentBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="br.com.phoebus.android.payments.AFTER_PAYMENT_FINISHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="br.com.phoebus.android.payments.AFTER_PAYMENT_REVERSAL_FINISHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="br.com.phoebus.android.payments.ACTION_AFTER_SETTLEMENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="br.com.phoebus.android.payments.ACTION_ERROR_REPORT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>